@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  position: relative;
  width: 135px;
  height: 23px;
}
.item_menu {
  @apply py-5 px-4 hover:cursor-pointer hover:bg-gray-950 hover:text-slate-100 transition;
}
.btn_menu_arrowDown {
  @apply text-xs ml-3;
}
.footer {
  background: linear-gradient(#000 10%, #203842);
}
.footer_section_first {
  @apply grid grid-cols-4 justify-between pb-5;
  border-bottom: 1px solid #4a545a;
}
.footer h2 {
  margin-bottom: 10px;
  color: #fff;
}
.footer ul {
  @apply text-gray-400 text-sm;
}
.footer ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.footer_icon {
  @apply mr-2 text-xl;
}